<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01//EN' 'http://www.w3.org/TR/html4/strict.dtd'>
<html lang='en'>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
	<title>NERAC Emergency Response Mapping for Evacuation Planning</title>
  <!-- big libraries -->
  <script src='{{ url_for('static', filename='js/OpenLayers.js') }}'></script>
  <script src='{{ url_for('static', filename='js/jquery-1.3.2.js') }}'></script>
  <!-- small libraries -->
  <script src='{{ url_for('static', filename='js/KMZ.js') }}'></script>
  <script src='{{ url_for('static', filename='js/jquery.uniform.js') }}'></script>
  <!-- custom code -->
  <script src='{{ url_for('static', filename='js/defaults.js') }}'></script>
  <script src='{{ url_for('static', filename='js/mapbox.js') }}'></script>
  <script src='{{ url_for('static', filename='js/template.js') }}'></script>
  <script src='{{ url_for('static', filename='js/openlayers_blockswitcher.js') }}'></script>
  <script src='{{ url_for('static', filename='js/map.js') }}'></script>
 	<link rel='stylesheet' href='{{ url_for('static', filename='style.css') }}' type='text/css' media='screen' />
</head>
<body>
  <div id='header'>
    <h1 class="site-name">NERAC Emergency Response Mapping for Evacuation Planning</h1>
  </div>
  <div id='left'>
    <div class='kml-input'>
      <form id='kml-file-form' enctype='multipart/form-data' method='POST' action='/kml'>
        <input id='kml-file-input' name='kml-file' type='file' />
      </form>
      <a id='kml-url-add' href="#">or link to online KML layer</a>
    </div>
    <div class='openlayers-blockswitcher'>
	  <div class='layers-legend'>
	    <a id='show-legend' href="#"><strong>Legend for NERAC layers</strong></a>
	  </div>
      <div class='layers base'>
        <h2 class='layers-title'>Base layers</h2>
          <div class='layers-content'>
        </div>
      </div>
      <div class='layers data'>
        <h2 class='layers-title'>Data layers</h2>
          <div class='layers-content'>
        </div>
      </div>
      <div style='display:none' class='factory'>
        <div class='form-item form-option radio'>
          <span class='icon'></span>
          <label class='option'></label>
        </div>
        <div class='form-item form-option checkbox'>
          <label class='option'>
            <input class='form-checkbox' type='checkbox' />
          </label>
        </div>
        <div class='factory layer-tools'>
          <a class='layer-zoom' href='#'>Zoom to Layer</a>
        </div>
      </div>
    </div> <!-- .openlayers-blockswitcher -->
  </div> <!-- #left -->
  <div id='shadow-bottom'></div>
  <div id='shadow-top'></div>
  <div id='shadow-left'></div>
  <div id='canvas'>
    <div id='map'></div>
   	<div id="nerac-logo">
    	<a href="http://www.nerac.us/" title="Northeast Homeland Security Regional Advisory Council (NERAC)"><img alt="Northeast Homeland Security Regional Advisory Council (NERAC)" src="{{ url_for('static', filename='images/nerac-logo-80.png') }}" width="80" height="80"></a>
	</div>
  </div>
  <div id='footer'>
      A project of 
      <a href="http://www.mapc.org/">MAPC</a> and 
      <a href="http://www.nerac.us/">NERAC</a> | 
	  Data sources: MAPC, NERAC, MassGIS, MassDOT |
	  For official use only, June 2011
    <span class="copyright">
      &copy; 2010 <a href="http://mapbox.com/">
        <img src='{{ url_for('static', filename='images/mapbox-small.png') }}' class='icon'/>
         MapBox</a>
    </span>
  </div>
  <div id='kml_window'>
    <div id='kml-window-inner'>
      <div class='kml-url-input-wrapper'>
        <input type='text' name='kml-url' size='55' id='kml-url' />
        <input type='button' name='kml-url-submit' id='kml-url-submit' value='Add KML' />
        or <a href="#" id='kml-url-input-cancel'>Close</a>
        <p>Enter a URL that points directly to an online KML file eg. <code>http://www.nerac.us/kml</code>. KMZ files must be uploaded.</p>
      </div>
    </div>
  </div>
  <div id='legend_window'>
    <div id='kml-window-inner'>
		<div class='kml-url-input-wrapper'>
			<a href="#" id='legend-close'>Close</a>
			<h2>Legend for NERAC layers</h2>
			<ul class='legend'>
				<li><img src="/static/images/tcp_primary.png" />Primary Traffic Control Point</li>
				<li><img src="/static/images/tcp_secondary.png" />Secondary Traffic Control Point</li>
				<li><img src="/static/images/firestation.png" />Fire Station</li>
				<li><img src="/static/images/policestation.png" />Police Station</li>
				<li><img src="/static/images/municipaloffice.png" />Municipal Offices</li>
				<li><img src="/static/images/court.png" />Court</li>
				<li><img src="/static/images/publichealthoffice.png" />Public Health Office</li>
				<li><img src="/static/images/hospital.png" />Hospital</li>
				<li><img src="/static/images/transitfacility.png" />Transit Facility</li>
				<li><img src="/static/images/icerink.png" />Ice Rink</li>
				<li><img src="/static/images/animalshelter.png" />Animal Shelter</li>
				<li><img src="/static/images/school.png" />School</li>
				<li><img src="/static/images/college.png" />College or University</li>
				<li><img src="/static/images/specialpopulation.png" />Special Populations</li>
				<li><img src="/static/images/childcare.png" />Child Care Facility</li>
				<li><img src="/static/images/residentialcare.png" />Residential Care</li>
				<li><img src="/static/images/prison.png" />Prison</li>
				<li><img src="/static/images/dam.png" />Dam</li>
				<li><img src="/static/images/hazmatsite.png" />Hazmat Site</li>
				<li><img src="/static/images/other.png" />Other</li>
			</ul>
		</div>
    </div>
  </div>
  <script type="text/html" name="page-loading">
    <div class="loading page-loading"></div>
  </script>
  </body>
</html>
